Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

.pre-commit-config.yaml:

default_language_version:
    python: python3.11
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude
        language: python
        'types_or': [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: sqlfluff-fix
        name: sqlfluff-fix
        # Set a couple of default flags:
        #  - `--force` to disable confirmation
        #  - `--show-lint-violations` shows issues to not require running `sqlfluff lint`
        #  - `--processes 0` to use maximum parallelism
        # By default, this hook applies all rules.
        entry: sqlfluff fix --force --show-lint-violations --processes 0
        language: python
        description: "Fixes sql lint errors with `SQLFluff`"
        types: [sql]
        require_serial: true
        exclude: ^db/schema.sql
      # Currently disabled due to incomplete typing
      #- id: mypy
      #  name: mypy
      #  entry: mypy
      #  language: python
      #  'types_or': [python, pyi]
      #  args: ["--ignore-missing-imports", "--scripts-are-modules"]
      #  require_serial: true

Commenting out
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

Update src/swoop/api/routers/jobs.py
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

Removing print statements
  src/swoop/api/routers/jobs.py
  tests/conftest.py
Due: black, pyupgrade

revision 2
  db/dbmate
  db/migrations/20230412000000_base.sql
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  src/swoop/cache/__init__.py
  src/swoop/cache/hashing.py
  tests/cache/__init__.py
  tests/cache/tests.py
Due: black, pyupgrade, sqlfluff-fix

remove old file
  src/swoop/cache/hash_main.py
Due: black, pyupgrade

Fixes to jobs endpoint and tests
  CONTRIBUTING.md
  pyproject.toml
  requirements.txt
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/api/test_main.py
  tests/conftest.py
Due: black, check-toml, pyupgrade

add test/logic for handling integer list indices
  src/swoop/cache/hashing.py
  tests/cache/tests.py
Due: black, pyupgrade

fail if includes/excludes lists contain range index
  src/swoop/cache/hashing.py
  tests/cache/tests.py
Due: black, pyupgrade

Fixing code coverage issues with get_job_status
  tests/api/test_jobs.py
Due: black, pyupgrade

crazy key and further refactoring
  db/migrations/20230501205418_cache.sql
  src/swoop/cache/hashing.py
  tests/cache/test_cache.py
Due: black, pyupgrade, sqlfluff-fix

use tree-based approach to json filtering
  src/swoop/cache/exceptions.py
  src/swoop/cache/hashing.py
  src/swoop/cache/parser.py
  src/swoop/cache/types.py
  tests/cache/test_filter.py
  tests/cache/test_hashing.py
  tests/cache/test_normalize.py
  tests/cache/test_parser.py
Due: black, pyupgrade

fix nested array parsing
  src/swoop/cache/parser.py
  tests/cache/test_parser.py
Due: black, pyupgrade

make FilterNode an ABC
  src/swoop/cache/types.py
Due: black, pyupgrade

rename IndexNode to SliceNode
  src/swoop/cache/parser.py
  src/swoop/cache/types.py
Due: black, pyupgrade

use BaseModel instead of dynamic model creation
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

not sure that we need to extract the date from ts
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

refactor job tests and cleanup job fixtures
  tests/api/test_jobs.py
  tests/conftest.py
Due: black, pyupgrade

Adding processes endpoint
  .env
  src/swoop/api/config.py
  src/swoop/api/main.py
  src/swoop/api/models.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

Adding workflow config files
  src/swoop/api/workflows.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

Adding contextvars dependency
  pyproject.toml
  requirements.txt
Due: check-toml

Adding dataclasses dependency
  pyproject.toml
  requirements.txt
Due: check-toml

add further tests
  src/swoop/cache/parser.py
  src/swoop/cache/types.py
  tests/cache/test_cache.py
  tests/cache/test_filter.py
  tests/cache/test_normalize.py
  tests/cache/test_parser.py
Due: black, pyupgrade

Adding test for code coverage
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

remove redundant invalid slice test
  tests/cache/test_normalize.py
Due: black, pyupgrade

rework database/app fixtures
  db/fixtures/base_01.sql
  src/swoop/api/app.py
  src/swoop/api/main.py
  tests/api/test_db.py
  tests/api/test_jobs.py
  tests/api/test_main.py
  tests/conftest.py
  tests/test_database.py
Due: black, pyupgrade, sqlfluff-fix

Jak/jobs endpoints (#15)
  db/fixtures/base_01.sql
  src/swoop/api/app.py
  src/swoop/api/main.py
  src/swoop/api/routers/jobs.py
  tests/api/test_db.py
  tests/api/test_jobs.py
  tests/api/test_main.py
  tests/conftest.py
  tests/test_database.py
Due: black, pyupgrade, sqlfluff-fix

Removing query param guide
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

Adding missing dependencies
  pyproject.toml
  requirements.txt
Due: check-toml

Inject database fixture to resolve tests
  tests/conftest.py
Due: black, pyupgrade

Building out "GET /jobs" endpoints (#10)
  CONTRIBUTING.md
  db/fixtures/base_01.sql
  pyproject.toml
  requirements.txt
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/main.py
  src/swoop/api/routers/jobs.py
  tests/api/test_db.py
  tests/api/test_jobs.py
  tests/api/test_main.py
  tests/conftest.py
  tests/test_database.py
Due: black, check-toml, pyupgrade, sqlfluff-fix

Jak/cache (#13)
  src/swoop/cache/exceptions.py
  src/swoop/cache/hashing.py
  src/swoop/cache/parser.py
  src/swoop/cache/types.py
  tests/cache/test_cache.py
  tests/cache/test_filter.py
  tests/cache/test_hashing.py
  tests/cache/test_normalize.py
  tests/cache/test_parser.py
Due: black, pyupgrade

remove done TODO
  src/swoop/cache/types.py
Due: black, pyupgrade

fixup tests/fixtures per db changes
  db/fixtures/base_01.sql
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade, sqlfluff-fix

Payload cache configuration (#11)
  db/dbmate
  db/fixtures/base_01.sql
  db/migrations/20230412000000_base.sql
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  src/swoop/api/db.py
  src/swoop/api/routers/jobs.py
  src/swoop/cache/__init__.py
  src/swoop/cache/exceptions.py
  src/swoop/cache/hashing.py
  src/swoop/cache/parser.py
  src/swoop/cache/types.py
  tests/api/test_jobs.py
  tests/cache/__init__.py
  tests/cache/test_filter.py
  tests/cache/test_hashing.py
  tests/cache/test_normalize.py
  tests/cache/test_parser.py
Due: black, pyupgrade, sqlfluff-fix

Adding contextvars dependency
  requirements.txt
Due: none

Fixing JobControlOptions
  src/swoop/api/models.py
  tests/api/test_processes.py
Due: black, pyupgrade
