Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

fix wrong test fn name
  tests/api/test_payloads_pagination.py
Due: black, pyupgrade

pagination for GET /jobs
  openapi.yaml
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/api/test_jobs_pagination.py
Due: black, check-yaml, pyupgrade

minor refactor
  src/swoop/api/models/jobs.py
Due: black, pyupgrade

fixups for invalidate endpoint
  openapi.yaml
  src/swoop/api/models/payloads.py
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, check-yaml, pyupgrade

remove unnecessary dict() call
  src/swoop/api/models/workflows.py
Due: black, pyupgrade

update swoop-db dep to v7.0.0
  pyproject.toml
  requirements.txt
Due: check-toml

API Cleanup (#31)
  .pre-commit-config.yaml
  bin/export-openapi-yaml.py
  openapi.yaml
  pyproject.toml
  requirements.txt
  src/swoop/api/app.py
  src/swoop/api/io.py
  src/swoop/api/models/__init__.py
  src/swoop/api/models/jobs.py
  src/swoop/api/models/payloads.py
  src/swoop/api/models/root.py
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/rfc3339.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/metrics.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  src/swoop/api/routers/root.py
  src/swoop/cache/hashing.py
  src/swoop/cache/py.typed
  src/swoop/cache/uuid.py
  tests/api/fixtures/limit.sql
  tests/api/test_jobs.py
  tests/api/test_jobs_pagination.py
  tests/api/test_limit.py
  tests/api/test_main.py
  tests/api/test_payloads.py
  tests/api/test_payloads_pagination.py
  tests/api/test_processes.py
  tests/api/test_workflows.py
  tests/cache/test_uuid.py
  tests/conftest.py
  tests/fixtures/io/base_01/input.json
  tests/fixtures/io/base_01/output.json
  workflow-config.yml
Due: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

return inputs in GET /jobs/<job_id>/inputs
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

fix response
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

change to executions
  docker-compose.yml
  tests/conftest.py
  tests/test_io.py
Due: black, check-yaml, pyupgrade

include links in response
  src/swoop/api/models/jobs.py
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

Resolving latest debian vulnerabilities
  Dockerfile
Due: none

Resolving latest debian vulnerabilities
  .snyk
  Dockerfile
Due: none

Resolving latest debian vulnerabilities
  .snyk
Due: none

Setting snyk scan threshold to high vulnerabilities
  .github/workflows/snyk-scan.yml
Due: check-yaml

Resolving latest debian vulnerabilities (#33)
  .github/workflows/snyk-scan.yml
  .snyk
  Dockerfile
Due: check-yaml

Releasing new swoop-api image with debian vulnerability fixes
  version.json
Due: none

Hm/upgrading swoop image (#34)
  version.json
Due: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

pull in current config format and update parsing
  openapi.yaml
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

use correct var for pg port in docker compose
  docker-compose.yml
Due: check-yaml

Remediating certify vulnerability
  requirements.txt
Due: none

Changing swoop-api base image to use python:slim-bookworm
  Dockerfile
Due: none

Snoozing postgres15 alerts since we're not installing it in our base image
  .snyk
Due: none

Building image on python venv, improvements to image publishing
  .github/workflows/publish-image.yml
  Dockerfile
  pyproject.toml
  version.json
Due: check-toml, check-yaml

Remediating certifi vulnerability (#37)
  .github/workflows/publish-image.yml
  .snyk
  Dockerfile
  pyproject.toml
  requirements.txt
  version.json
Due: check-toml, check-yaml

Fix for get workflow execution input and output
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

Fixing executions path
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
  tests/test_io.py
Due: black, pyupgrade

Fix for get workflow execution input and output (#38)
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
  tests/test_io.py
Due: black, pyupgrade

disable response validation on job results endpoint
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

disable response validation on job results endpoint (#39)
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

mpl dependencies
  .snyk
  mpl-dependencies.txt
Due: none

updates
  .snyk
  mpl-dependencies.txt
Due: none

MPL dependencies (#40)
  .snyk
  mpl-dependencies.txt
Due: none

support other minio credential providers
  .env
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/io.py
  tests/conftest.py
Due: black, pyupgrade

Removing ignore on debian postgres 15 CVE
  .snyk
Due: none

Snyk daily frequency scan and mpl disclosure changes
  .github/workflows/snyk-scan.yml
  .snyk
  mpl-dependencies.txt
Due: check-yaml

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
