Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

Ignore SNYK-DEBIAN12-LIBWEBP-5893095 since we're not using libwebp
  .snyk
Due: none

Snyk scan frequency and mpl disclosure changes (#43)
  .github/workflows/snyk-scan.yml
  .snyk
  mpl-dependencies.txt
Due: check-yaml

Fixing ignored period of false positive CVEs and license disclosure
  .snyk
Due: none

Fixing ignored period of false positive CVEs and license disclosure (#44)
  .snyk
Due: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

custom http exception to respond with APIException
  openapi.yaml
  src/swoop/api/app.py
  src/swoop/api/exceptions.py
  src/swoop/api/models/shared.py
Due: black, check-yaml, pyupgrade

add jsonschema dep for schema validation
  pyproject.toml
  requirements.txt
Due: check-toml

error type for job not found
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

remove trailing slash from list endpoints
  openapi.yaml
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  tests/api/test_jobs.py
  tests/api/test_jobs_pagination.py
  tests/api/test_limit.py
  tests/api/test_main.py
  tests/api/test_payloads.py
  tests/api/test_payloads_pagination.py
  tests/api/test_processes.py
Due: black, check-yaml, pyupgrade

only include job results link if job is successful
  src/swoop/api/models/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

fixup landing page and conformance responses
  openapi.yaml
  src/swoop/api/models/root.py
  src/swoop/api/routers/root.py
  tests/api/test_main.py
Due: black, check-yaml, pyupgrade

disable ruff line length checking for black compat
  pyproject.toml
Due: check-toml

error type for process not found
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

rename payloadCacheEntries to cache
  openapi.yaml
  src/swoop/api/app.py
  tests/api/test_jobs.py
  tests/api/test_limit.py
  tests/api/test_payloads.py
  tests/api/test_payloads_pagination.py
Due: black, check-yaml, pyupgrade

rename config file and fixup vars in docker build
  .env
  Dockerfile
  docker-compose.yml
  src/swoop/api/config.py
  src/swoop/api/workflows.py
  swoop-config.yml
  tests/api/test_workflows.py
Due: black, check-yaml, pyupgrade

better testing/validation of payload endpoint
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, pyupgrade

workflow input/ouput schemas from config file
  openapi.yaml
  src/swoop/api/app.py
  src/swoop/api/models/jobs.py
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  swoop-config.yml
  tests/api/test_payloads.py
  tests/api/test_processes.py
Due: black, check-yaml, pyupgrade

more comprehensive tests for workflows models
  tests/api/test_workflows.py
Due: black, pyupgrade

update deps again; get to pydantic >=2.4 per cve
  openapi.yaml
  pyproject.toml
  requirements.txt
Due: check-toml, check-yaml

remove response/transmission mode models per new spec
  openapi.yaml
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, check-yaml, pyupgrade

add test coverage for HTTPException class
  tests/api/test_exceptions.py
Due: black, pyupgrade

remove addtional parameters models per new spec
  openapi.yaml
  src/swoop/api/models/shared.py
Due: black, check-yaml, pyupgrade

APIException model shouldn't allow extra
  openapi.yaml
  src/swoop/api/models/shared.py
Due: black, check-yaml, pyupgrade

func to check if job should have results
  openapi.yaml
  src/swoop/api/routers/jobs.py
Due: black, check-yaml, pyupgrade

added comment
  src/swoop/api/models/workflows.py
Due: black, pyupgrade

ioclient fix weirdness with bucket name mutations
  src/swoop/api/io.py
  tests/conftest.py
  tests/test_io.py
Due: black, pyupgrade

upgrade all deps, including pydantic to v2
  openapi.yaml
  pyproject.toml
  requirements.txt
  src/swoop/api/config.py
  src/swoop/api/models/payloads.py
  src/swoop/api/models/root.py
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  src/swoop/api/routers/root.py
  tests/api/test_jobs.py
  tests/api/test_jobs_pagination.py
  tests/api/test_payloads.py
  tests/api/test_payloads_pagination.py
  tests/api/test_processes.py
Due: black, check-toml, check-yaml, pyupgrade

bump urllib3 version per CVE
  requirements.txt
Due: none

add test for no inputs
  tests/api/test_processes.py
Due: black, pyupgrade

remove response from test payloads
  tests/api/test_payloads.py
  tests/api/test_processes.py
Due: black, pyupgrade

test had wrong endpoint
  tests/api/test_jobs.py
Due: black, pyupgrade

pin docker base image to 3.11 python for now
  Dockerfile
Due: none

factor out s3 endpoint split to enable testing
  src/swoop/api/io.py
  tests/test_io.py
Due: black, pyupgrade

follow processes API spec for job results responses
  src/swoop/api/models/jobs.py
  src/swoop/api/routers/jobs.py
  tests/api/models/test_jobs.py
Due: black, pyupgrade

remove unnecessary env cmd from dockerfile
  Dockerfile
Due: none

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
