Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

fix tests
  tests/api/test_processes.py
Due: black, pyupgrade

minor record optimization
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

updates to payloads.py
  src/swoop/api/routers/payloads.py
Due: black, pyupgrade

updates
  src/swoop/api/routers/payloads.py
Due: black, pyupgrade

updates
  src/swoop/api/models/workflows.py
  tests/api/test_processes.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

limit test
  src/swoop/api/routers/payloads.py
  tests/api/test_limit.py
Due: black, pyupgrade

add limit.sql
  tests/api/fixtures/limit.sql
Due: sqlfluff-fix

workflow_version change
  src/swoop/api/routers/payloads.py
  tests/api/fixtures/limit.sql
Due: black, pyupgrade, sqlfluff-fix

further changes
  src/swoop/api/models/payloads.py
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, pyupgrade

Add testkube tests
  tests/testkube/curltest.json
Due: none

investigating redirect response
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

Testing failure
  tests/testkube/curltest.json
Due: none

Adding root api test
  tests/testkube/curl/swoop-api-root-test.json
  tests/testkube/curltest.json
Due: none

Adding jobs and payload input tests
  tests/testkube/curl/swoop-api-jobs-test.json
  tests/testkube/curl/swoop-api-payload-input-test.json
Due: none

Adding a simple load test example
  tests/testkube/artillery/swoop-api-simple-load-test.yaml
Due: check-yaml

Adding k6 load test
  tests/testkube/artillery/swoop-api-simple-load-test.yaml
  tests/testkube/k6/swoop-api-simple-k6-load-test.js
Due: check-yaml

Fixing environment variable reference
  tests/testkube/k6/swoop-api-simple-k6-load-test.js
Due: none

Adding testkube tests
  .github/workflows/testkube.yml
Due: check-yaml

fixing env variables
  .github/workflows/testkube.yml
Due: check-yaml

Fix minio and swoop tests
  .github/workflows/testkube.yml
Due: check-yaml

Adding github runner ip
  .github/workflows/testkube.yml
Due: check-yaml

Finding Docker host ip
  .github/workflows/testkube.yml
Due: check-yaml

Using a local IP
  .github/workflows/testkube.yml
Due: check-yaml

Running testkube tests
  .github/workflows/testkube.yml
Due: check-yaml

Using local eth0 ip
  .github/workflows/testkube.yml
Due: check-yaml

update swoop-db version
  pyproject.toml
  requirements.txt
Due: check-toml

move workflow_version to action insert
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
