Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

.pre-commit-config.yaml:

default_language_version:
    python: python3.11
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude
        language: python
        'types_or': [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: sqlfluff-fix
        name: sqlfluff-fix
        # Set a couple of default flags:
        #  - `--force` to disable confirmation
        #  - `--show-lint-violations` shows issues to not require running `sqlfluff lint`
        #  - `--processes 0` to use maximum parallelism
        # By default, this hook applies all rules.
        entry: sqlfluff fix --force --show-lint-violations --processes 0
        language: python
        description: "Fixes sql lint errors with `SQLFluff`"
        types: [sql]
        require_serial: true
        exclude: ^db/schema.sql
      # Currently disabled due to incomplete typing
      #- id: mypy
      #  name: mypy
      #  entry: mypy
      #  language: python
      #  'types_or': [python, pyi]
      #  args: ["--ignore-missing-imports", "--scripts-are-modules"]
      #  require_serial: true

post processes endpoint
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  pyproject.toml
  src/swoop/api/models/__init__.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  src/swoop/api/workflows.py
  tests/api/test_processes.py
  tests/cache/test_hashing.py
  tests/conftest.py
  workflow-config.yml
Due: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

Applying PR suggestions
  src/swoop/api/io.py
  tests/conftest.py
  tests/fixtures/io/base_01/input.json
  tests/fixtures/io/base_01/output.json
  tests/fixtures/io/base_02/input.json
  tests/fixtures/io/base_02/output.json
  tests/test_io.py
Due: black, pyupgrade

Applying PR suggestions
  CONTRIBUTING.md
Due: none

Applying PR suggestions
  src/swoop/api/io.py
Due: black, pyupgrade

Applying PR suggestions
  tests/test_io.py
Due: black, pyupgrade

Removing unnecessary ValueError
  src/swoop/api/io.py
  tests/conftest.py
Due: black, pyupgrade

Removing UnboundLocalError
  src/swoop/api/io.py
Due: black, pyupgrade

Adding IOClient and jobs results and payload endpoints (#20)
  .env
  CONTRIBUTING.md
  docker-compose.yml
  pyproject.toml
  requirements.txt
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/io.py
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
  tests/fixtures/io/base_01/input.json
  tests/fixtures/io/base_01/output.json
  tests/fixtures/io/base_02/input.json
  tests/fixtures/io/base_02/output.json
  tests/test_io.py
Due: black, check-toml, check-yaml, pyupgrade

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

fixup requirements per starlette upgrade
  pyproject.toml
  requirements.txt
Due: check-toml

[Snyk] Security upgrade starlette from 0.26.1 to 0.27.0 (#21)
  pyproject.toml
  requirements.txt
Due: check-toml

use discriminant union for workflow configs
  src/swoop/api/config.py
  src/swoop/api/exceptions.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  src/swoop/api/workflows.py
Due: black, pyupgrade

addressing PR comments
  CONTRIBUTING.md
  src/swoop/api/models.py
  src/swoop/api/models/__init__.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

update status code
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

fixup all the __root__ nonsense
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/test_workflows.py
Due: black, pyupgrade

clean up process execute insert queries
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

empty string not none for create/drop db name
  tests/conftest.py
Due: black, pyupgrade

workflow name doesn't match process id check
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
  tests/conftest.py
Due: black, pyupgrade

Adding SWOOP API Image
  .env
  .github/workflows/publish-image.yml
  .github/workflows/snyk-scan.yml
  Dockerfile
  docker-compose.yml
  version.json
Due: check-yaml

Testing push SWOOP API Image
  .github/workflows/publish-image.yml
  .github/workflows/snyk-scan.yml
Due: check-yaml

Upgrading python on api image
  .github/workflows/publish-image.yml
  Dockerfile
Due: check-yaml

Upgrading python on api image to resolve critical vulnerabilities
  Dockerfile
Due: none

Testing publishing image to quay
  .github/workflows/publish-image.yml
Due: check-yaml

Changing python image due to critical vulnerabilities
  Dockerfile
Due: none

Passing snyk scans
  .github/workflows/snyk-scan.yml
  Dockerfile
Due: check-yaml

Removing Quay image push test
  .github/workflows/publish-image.yml
Due: check-yaml

Adding back python docker test
  .github/workflows/snyk-scan.yml
Due: check-yaml

Changing to alpine image to avoid critical python vulnerabilities
  Dockerfile
  docker-compose.yml
Due: check-yaml

Changing to alpine image to avoid critical python vulnerabilities
  Dockerfile
Due: none

Reverting to python:3.11.3-slim
  Dockerfile
Due: none

Verifying scan of latest python image
  Dockerfile
Due: none

Reverting to 3.11.3-slim
  Dockerfile
Due: none

Upgrading aom and libcurl packages for addressing critical vulnerabilities
  Dockerfile
Due: none

Updating to patched base image for addressing critical vulnerabilities
  Dockerfile
Due: none
