Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

Update tests/api/test_processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

Adding dataclasses dependency
  pyproject.toml
  requirements.txt
Due: check-toml

Adding prefix to workflow_config_file
  .env
  src/swoop/api/config.py
  src/swoop/api/workflows.py
Due: black, pyupgrade

Adding missing dependencies
  requirements.txt
Due: none

Update src/swoop/api/workflows.py
  src/swoop/api/workflows.py
Due: black, pyupgrade

Adding workflow config files
  src/swoop/api/workflows.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

Adding processes endpoint
  .env
  src/swoop/api/config.py
  src/swoop/api/models.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

Adding processes endpoint
  tests/api/test_processes.py
Due: black, pyupgrade

Update src/swoop/api/app.py
  src/swoop/api/app.py
Due: black, pyupgrade

Adding processes endpoint
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

Building out "GET /processes" endpoints (#16)
  .env
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/models.py
  src/swoop/api/routers/processes.py
  src/swoop/api/workflows.py
  tests/api/test_processes.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

add isort to pre-commit-config
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

settings no longer supports .env, libpq-style db env vars
  .env
  docker-compose.yml
  src/swoop/api/config.py
  src/swoop/api/db.py
  src/swoop/api/workflows.py
  tests/api/test_config.py
  tests/conftest.py
  tests/test_database.py
Due: black, check-yaml, pyupgrade

isort reformat imports
  src/swoop/api/app.py
  src/swoop/api/main.py
  src/swoop/api/models.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/metrics.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  src/swoop/api/routers/root.py
  src/swoop/cache/parser.py
  tests/api/test_db.py
  tests/api/test_jobs.py
  tests/api/test_main.py
  tests/cache/test_filter.py
  tests/cache/test_normalize.py
  tests/cache/test_parser.py
Due: black, pyupgrade

update docs
  CONTRIBUTING.md
  README.md
Due: none

fix test action
  .github/workflows/python-test.yml
Due: check-yaml

modify db tests to pass
  db/tests/action.sql
  db/tests/limit-locking.sql
Due: sqlfluff-fix

modify db tests to pass (#18)
  db/tests/action.sql
  db/tests/limit-locking.sql
Due: sqlfluff-fix

add adr-000 for API design
  docs/arch/adr-000-api-design.md
Due: none

add adr-001 for workflow orchestrator selection
  docs/arch/adr-001-workflow-orchestrator.md
Due: none

add adr-003 for choice of fastapi as API framework
  docs/arch/adr-003-fastapi-choice.md
Due: none

add adr-002 for system architecture
  docs/arch/adr-002-system-architecture.md
  docs/arch/assets/swoop-k8s-arch-conductor.png
Due: none

Additional tests for codecoverage
  tests/api/test_config.py
  tests/api/test_db.py
Due: black, pyupgrade

Don't load .env anymore, add isort (#17)
  .env
  .github/workflows/python-test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  pyproject.toml
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/db.py
  src/swoop/api/main.py
  src/swoop/api/models.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/metrics.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  src/swoop/api/routers/root.py
  src/swoop/api/workflows.py
  src/swoop/cache/parser.py
  tests/api/test_config.py
  tests/api/test_db.py
  tests/api/test_jobs.py
  tests/api/test_main.py
  tests/cache/test_filter.py
  tests/cache/test_normalize.py
  tests/cache/test_parser.py
  tests/conftest.py
  tests/test_database.py
Due: black, check-toml, check-yaml, pyupgrade

Add swoop API architectural design review documents (#19)
  docs/arch/adr-000-api-design.md
  docs/arch/adr-001-workflow-orchestrator.md
  docs/arch/adr-002-system-architecture.md
  docs/arch/adr-003-fastapi-choice.md
  docs/arch/assets/swoop-k8s-arch-conductor.png
Due: none

Adding IOClient and jobs results and payload endpoints
  .env
  docker-compose.yml
  pyproject.toml
  requirements.txt
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/io.py
  src/swoop/api/routers/jobs.py
  tests/conftest.py
Due: black, check-toml, check-yaml, pyupgrade

Adding write object methods for IOClient
  src/swoop/api/io.py
Due: black, pyupgrade

Adding delete bucket methods for IOClient
  src/swoop/api/io.py
Due: black, pyupgrade

Improving readability of get_object
  src/swoop/api/io.py
Due: black, pyupgrade

Adding IO tests
  io/fixtures/base_01/input.json
  io/fixtures/base_01/output.json
  io/fixtures/base_02/input.json
  io/fixtures/base_02/output.json
  src/swoop/api/io.py
  tests/api/test_jobs.py
  tests/conftest.py
  tests/test_io.py
Due: black, pyupgrade

Additional tests for test coverage
  src/swoop/api/io.py
  tests/test_io.py
Due: black, pyupgrade

Fixing tests
  tests/test_io.py
Due: black, pyupgrade

Update src/swoop/api/io.py
  src/swoop/api/io.py
Due: black, pyupgrade

Update tests/conftest.py
  tests/conftest.py
Due: black, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
