Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

Updating to patched base image to alpine for addressing critical vulnerabilities
  Dockerfile
Due: none

Updating to debian bookworm for addressing critical vulnerabilities
  Dockerfile
Due: none

Reverting to 3.11.3-slim
  Dockerfile
Due: none

Reverting to 3.11.3-slim
  .github/workflows/publish-image.yml
Due: check-yaml

Trying out debian bookworm to resolve vulnerabilities
  Dockerfile
Due: none

Using latest debian bookworm with remediated vulnerabilities
  .github/workflows/publish-image.yml
  Dockerfile
Due: check-yaml

Removing creation of image on PR
  .github/workflows/publish-image.yml
Due: check-yaml

Changing base image for snyk scans
  Dockerfile
Due: none

Using latest debian bookworm with remediated vulnerabilities
  Dockerfile
Due: none

addressing PR comments
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/bad-workflow-config.yml
  tests/api/test_workflows.py
Due: black, check-yaml, pyupgrade

Add back PGSSLMODE env variable
  .env
Due: none

Adding .snyk policy
  .github/workflows/snyk-scan.yml
Due: check-yaml

Adding .snyk policy
  .snyk
Due: none

Adding SWOOP API Image (#25)
  .env
  .github/workflows/publish-image.yml
  .github/workflows/snyk-scan.yml
  .snyk
  Dockerfile
  docker-compose.yml
  version.json
Due: check-yaml

remove id in payload/update tests
  src/swoop/api/models/workflows.py
  tests/api/test_processes.py
Due: black, pyupgrade

dont use relative path in bad workflow config
  tests/api/fixtures/bad-workflow-config.yml
  tests/api/test_workflows.py
Due: black, check-yaml, pyupgrade

POST/ processes endpoint (#22)
  CONTRIBUTING.md
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  pyproject.toml
  src/swoop/api/config.py
  src/swoop/api/exceptions.py
  src/swoop/api/models/__init__.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  src/swoop/api/workflows.py
  tests/api/fixtures/bad-workflow-config.yml
  tests/api/test_processes.py
  tests/api/test_workflows.py
  tests/cache/test_hashing.py
  tests/conftest.py
Due: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

payloads endpoints
  db/fixtures/base_01.sql
  src/swoop/api/models/__init__.py
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, pyupgrade, sqlfluff-fix

return str for uuid
  src/swoop/api/routers/payloads.py
Due: black, pyupgrade

add get/payloads endpoints
  db/fixtures/base_01.sql
  src/swoop/api/models/__init__.py
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, pyupgrade, sqlfluff-fix

update for ruff to pass
  tests/api/test_payloads.py
Due: black, pyupgrade

update limit param
  src/swoop/api/routers/payloads.py
Due: black, pyupgrade

use db from swoop-db
  db/Dockerfile
  db/README.md
  db/dbmate
  db/fixtures/base_01.sql
  db/migrations/20230412000000_base.sql
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  db/tests/action.sql
  db/tests/limit-locking.sql
  pyproject.toml
  requirements.txt
  src/swoop/api/py.typed
  tests/conftest.py
  tests/test_database.py
Due: black, check-toml, pyupgrade, sqlfluff-fix

snyk scan now two jobs; remove postgres scanning
  .github/workflows/snyk-scan.yml
Due: check-yaml

update docker compose to use swoop-db image
  docker-compose.yml
Due: check-yaml

fix bad test
  tests/api/test_config.py
Due: black, pyupgrade

use db from swoop-db (#28)
  .github/workflows/snyk-scan.yml
  db/Dockerfile
  db/README.md
  db/dbmate
  db/fixtures/base_01.sql
  db/migrations/20230412000000_base.sql
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  db/tests/action.sql
  db/tests/limit-locking.sql
  docker-compose.yml
  pyproject.toml
  requirements.txt
  src/swoop/api/py.typed
  tests/api/test_config.py
  tests/conftest.py
  tests/test_database.py
Due: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

updates based on feedback
  src/swoop/api/models/__init__.py
  src/swoop/api/models/payloads.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, pyupgrade

post/processes endpoint with cache
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/fixtures/workflow-config-cache-key-change.yml
  tests/api/fixtures/workflow-config-version-inc.yml
  tests/api/test_processes.py
Due: black, check-yaml, pyupgrade

Upgrading to swoop.db 0.1.2
  pyproject.toml
Due: check-toml

Upgrading to swoop.db 0.1.2
  requirements.txt
Due: none

Upgrading to swoop.db 0.1.3
  pyproject.toml
  requirements.txt
Due: check-toml

add test
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

add more tests
  tests/api/test_processes.py
Due: black, pyupgrade

updates
  tests/api/fixtures/workflow-config-version-inc.yml
  tests/api/test_processes.py
Due: black, check-yaml, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
