Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

add get/payloads endpoints (#27)
  pyproject.toml
  requirements.txt
  src/swoop/api/models/__init__.py
  src/swoop/api/models/payloads.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  tests/api/fixtures/limit.sql
  tests/api/test_limit.py
  tests/api/test_payloads.py
Due: black, check-toml, pyupgrade, sqlfluff-fix

fix redirect response issues for POST processes
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

Adding docker internal
  .github/workflows/testkube.yml
Due: check-yaml

Adding host.k3d.internal
  .github/workflows/testkube.yml
Due: check-yaml

kubernetes tests
  .github/workflows/testkube.yml
Due: check-yaml

Pinning swoop-db to v0.1.3
  .github/workflows/testkube.yml
Due: check-yaml

Initializing testkube agent
  .github/workflows/testkube.yml
Due: check-yaml

Initializing testkube agent
  tests/testkube/curl/swoop-api-jobs-test.json
  tests/testkube/curl/swoop-api-payload-input-test.json
  tests/testkube/curl/swoop-api-root-test.json
  tests/testkube/k6/swoop-api-simple-k6-load-test.js
Due: none

Switching to local testkube testing
  .github/workflows/testkube.yml
  .gitignore
Due: check-yaml

Adding testkube agent
  .github/workflows/testkube.yml
Due: check-yaml

continuing even if tests creation errors out because it exists
  .github/workflows/testkube.yml
Due: check-yaml

update versions
  pyproject.toml
  requirements.txt
Due: check-toml

update processes.py
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

remove test fixture file
  tests/api/fixtures/workflow-config-cache-key-change.yml
Due: check-yaml

post/processes endpoint with cache (#29)
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

initial commit
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  tests/api/test_jobs.py
  tests/api/test_payloads.py
  tests/api/test_processes.py
Due: black, pyupgrade

get/processes endpoint updates mainly
  src/swoop/api/models/__init__.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/metrics.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

allow_redirects deprecated, use follow_redirects
  tests/api/test_processes.py
Due: black, pyupgrade

add py.typing to swoop.cache package
  src/swoop/cache/py.typed
Due: none

remove metrics endpoints
  src/swoop/api/app.py
  src/swoop/api/routers/metrics.py
Due: black, pyupgrade

variety of fixes, mainly refactoring models
  src/swoop/api/models/__init__.py
  src/swoop/api/models/jobs.py
  src/swoop/api/models/payloads.py
  src/swoop/api/models/root.py
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  src/swoop/api/routers/root.py
  tests/api/test_jobs.py
  tests/api/test_payloads.py
  tests/api/test_processes.py
  tests/api/test_workflows.py
  workflow-config.yml
Due: black, check-yaml, pyupgrade

fix deprecation warning in tests that POST
  tests/api/test_processes.py
Due: black, pyupgrade

make processID a required StatusInfo property
  src/swoop/api/models/jobs.py
Due: black, pyupgrade

remove debug print statement in tests
  tests/conftest.py
Due: black, pyupgrade

processes query params must support mutliple vals
  src/swoop/api/routers/processes.py
  tests/api/test_processes.py
Due: black, pyupgrade

remove 404 as response from get/processes
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

remove DELETE/jobs/job-id endpoint
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

remove parent_id from get/jobs query parameters and response
  src/swoop/api/models/jobs.py
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

drop 'progress' from get/jobs response
  src/swoop/api/models/jobs.py
Due: black, pyupgrade

rename get/payloads to payloadCacheEntries
  src/swoop/api/app.py
  tests/api/test_limit.py
  tests/api/test_payloads.py
Due: black, pyupgrade

rename GET /jobs/<job_id>/payload to inputs
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

Specify UUID as type for job_id and payload_id in GET endpoints
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
Due: black, pyupgrade

add created_at to response for GET/jobs
  src/swoop/api/models/jobs.py
Due: black, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
