Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --force --show-lint-violations --processes 0
  language: python
  description: Fixes sql lint errors with `SQLFluff`
  require_serial: true

Adding connection pools
  pyproject.toml
  requirements.txt
  src/swoop/api/config.py
  src/swoop/api/db.py
  src/swoop/api/main.py
  tests/api/test_db.py
Due: black, check-toml, pyupgrade

Lint fixes
  src/swoop/api/db.py
  tests/api/test_db.py
Due: black, pyupgrade

Fixing connection warning
  tests/api/test_db.py
Due: black, pyupgrade

Removes test env file. Removes singleton settings pattern
  .env.test
  src/swoop/api/config.py
  src/swoop/api/main.py
  tests/api/test_config.py
Due: black, pyupgrade

Fixes Settings test
  tests/api/test_config.py
Due: black, pyupgrade

add minio to docker compose and relevant env vars
  .env
  docker-compose.yml
Due: check-yaml

poc test database setup
  .env
  src/swoop/api/config.py
  src/swoop/api/db.py
  tests/conftest.py
  tests/test_database.py
Due: black, pyupgrade

Addressing PR feedback
  src/swoop/api/main.py
  tests/api/test_db.py
Due: black, pyupgrade

Adds basic env settings and configuration (#6)
  README.md
  pyproject.toml
  requirements.txt
  src/swoop/api/config.py
  src/swoop/api/main.py
  tests/api/test_config.py
Due: black, check-toml, pyupgrade

Fixing bad merge
  src/swoop/api/main.py
Due: black, pyupgrade

Fixing merge
  src/swoop/api/main.py
Due: black, pyupgrade

Refactoring
  src/swoop/api/db.py
  src/swoop/api/main.py
  tests/api/test_db.py
Due: black, pyupgrade

Lint
  src/swoop/api/db.py
Due: black, pyupgrade

Adding PG
  .github/workflows/python-test.yml
Due: check-yaml

PG attempt 2
  .github/workflows/python-test.yml
Due: check-yaml

Updating arch ref
  db/Dockerfile
Due: none

Cleanup
  .github/workflows/python-test.yml
Due: check-yaml

Addressing most of the PR feedback
  .env.test
  README.md
  db/Dockerfile
  src/swoop/api/config.py
  src/swoop/api/main.py
  tests/api/test_config.py
  tests/api/test_db.py
  tests/conftest.py
Due: black, pyupgrade

Adding snyk scan
  .github/workflows/snyk-scan.yml
Due: check-yaml

Adding python and docker specific scans
  .github/workflows/snyk-scan.yml
Due: check-yaml

Upgrading postgres to 15.2 to remediate HIGH vulnerability
  db/Dockerfile
Due: none

Forces failure on critical vulnerabilites
  .github/workflows/snyk-scan.yml
  db/Dockerfile
Due: check-yaml

Adding snyk scan (#9)
  .github/workflows/snyk-scan.yml
Due: check-yaml

Addressing codecov
  src/swoop/api/config.py
  tests/api/test_main.py
Due: black, pyupgrade

Adds PG Connection Pools (#7)
  .env
  .github/workflows/python-test.yml
  README.md
  db/Dockerfile
  pyproject.toml
  requirements.txt
  src/swoop/api/config.py
  src/swoop/api/db.py
  src/swoop/api/main.py
  tests/api/test_db.py
  tests/api/test_main.py
  tests/conftest.py
  tests/test_database.py
Due: black, check-toml, check-yaml, pyupgrade

Fixing conflict with the .env in main
  .env
Due: none

Initial setup code
  src/swoop/api/config.py
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
  tests/fixtures/action.csv
Due: black, pyupgrade

More WIP
  src/swoop/api/routers/jobs.py
  tests/api/test_db.py
  tests/api/test_jobs.py
  tests/conftest.py
  tests/fixtures/action.csv
Due: black, pyupgrade

More WIP
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

More WIP
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
Due: black, pyupgrade

Adding processes endpoint
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

Adding processes endpoint
  tests/api/test_processes.py
Due: black, pyupgrade

add minio to docker compose and relevant env vars (#8)
  .env
  docker-compose.yml
Due: check-yaml

Finishing up
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
Due: black, pyupgrade

Refactoring
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
  tests/conftest.py
Due: black, pyupgrade

Refactoring
  tests/api/test_jobs.py
  tests/conftest.py
Due: black, pyupgrade

payload cache configuration
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  src/swoop/cache/hash_main.py
  src/swoop/cache/tests.py
Due: black, pyupgrade, sqlfluff-fix

fix linting errors
  db/migrations/20230412000000_base.sql
  db/migrations/20230501205418_cache.sql
  db/schema.sql
  src/swoop/api/db.py
  src/swoop/api/main.py
  src/swoop/cache/hash_main.py
  src/swoop/cache/tests.py
  tests/api/test_db.py
Due: black, pyupgrade, sqlfluff-fix

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  sqlfluff-fix: any of: \.sql$, but not: ^db/schema.sql
