Repository Element84/swoop: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, sqlfluff-fix

.pre-commit-config.yaml:

default_language_version:
    python: python3.11
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --force-exclude
        language: python
        'types_or': [python, pyi]
        args: [--fix, --exit-non-zero-on-fix]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: sqlfluff-fix
        name: sqlfluff-fix
        # Set a couple of default flags:
        #  - `--force` to disable confirmation
        #  - `--show-lint-violations` shows issues to not require running `sqlfluff lint`
        #  - `--processes 0` to use maximum parallelism
        # By default, this hook applies all rules.
        entry: sqlfluff fix --force --show-lint-violations --processes 0
        language: python
        description: "Fixes sql lint errors with `SQLFluff`"
        types: [sql]
        require_serial: true
        exclude: ^db/schema.sql
      # Currently disabled due to incomplete typing
      #- id: mypy
      #  name: mypy
      #  entry: mypy
      #  language: python
      #  'types_or': [python, pyi]
      #  args: ["--ignore-missing-imports", "--scripts-are-modules"]
      #  require_serial: true

ioclient fix weirdness with bucket name mutations
  src/swoop/api/io.py
  tests/conftest.py
  tests/test_io.py
Due: black, pyupgrade

add jsonschema dep for schema validation
  pyproject.toml
  requirements.txt
Due: check-toml

remove addtional parameters models per new spec
  openapi.yaml
  src/swoop/api/models/shared.py
Due: black, check-yaml, pyupgrade

more comprehensive tests for workflows models
  tests/api/test_workflows.py
Due: black, pyupgrade

rename payloadCacheEntries to cache
  openapi.yaml
  src/swoop/api/app.py
  tests/api/test_jobs.py
  tests/api/test_limit.py
  tests/api/test_payloads.py
  tests/api/test_payloads_pagination.py
Due: black, check-yaml, pyupgrade

custom http exception to respond with APIException
  openapi.yaml
  src/swoop/api/app.py
  src/swoop/api/exceptions.py
  src/swoop/api/models/shared.py
Due: black, check-yaml, pyupgrade

disable ruff line length checking for black compat
  pyproject.toml
Due: check-toml

workflow input/ouput schemas from config file
  openapi.yaml
  src/swoop/api/app.py
  src/swoop/api/models/jobs.py
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  swoop-config.yml
  tests/api/test_payloads.py
  tests/api/test_processes.py
Due: black, check-yaml, pyupgrade

APIException model shouldn't allow extra
  openapi.yaml
  src/swoop/api/models/shared.py
Due: black, check-yaml, pyupgrade

rename config file and fixup vars in docker build
  .env
  Dockerfile
  docker-compose.yml
  src/swoop/api/config.py
  src/swoop/api/workflows.py
  swoop-config.yml
  tests/api/test_workflows.py
Due: black, check-yaml, pyupgrade

remove trailing slash from list endpoints
  openapi.yaml
  src/swoop/api/routers/jobs.py
  src/swoop/api/routers/payloads.py
  src/swoop/api/routers/processes.py
  tests/api/test_jobs.py
  tests/api/test_jobs_pagination.py
  tests/api/test_limit.py
  tests/api/test_main.py
  tests/api/test_payloads.py
  tests/api/test_payloads_pagination.py
  tests/api/test_processes.py
Due: black, check-yaml, pyupgrade

follow processes API spec for job results responses
  src/swoop/api/models/jobs.py
  src/swoop/api/routers/jobs.py
  tests/api/models/test_jobs.py
Due: black, pyupgrade

remove unnecessary env cmd from dockerfile
  Dockerfile
Due: none

support other minio credential providers
  .env
  src/swoop/api/app.py
  src/swoop/api/config.py
  src/swoop/api/io.py
  tests/conftest.py
Due: black, pyupgrade

update deps again; get to pydantic >=2.4 per cve
  openapi.yaml
  pyproject.toml
  requirements.txt
Due: check-toml, check-yaml

remove response/transmission mode models per new spec
  openapi.yaml
  src/swoop/api/models/shared.py
  src/swoop/api/models/workflows.py
  src/swoop/api/routers/jobs.py
  tests/api/test_jobs.py
Due: black, check-yaml, pyupgrade

pin docker base image to 3.11 python for now
  Dockerfile
Due: none

error type for job not found
  src/swoop/api/routers/jobs.py
Due: black, pyupgrade

test had wrong endpoint
  tests/api/test_jobs.py
Due: black, pyupgrade

only include job results link if job is successful
  src/swoop/api/models/jobs.py
  tests/api/test_jobs.py
Due: black, pyupgrade

fixup landing page and conformance responses
  openapi.yaml
  src/swoop/api/models/root.py
  src/swoop/api/routers/root.py
  tests/api/test_main.py
Due: black, check-yaml, pyupgrade

remove response from test payloads
  tests/api/test_payloads.py
  tests/api/test_processes.py
Due: black, pyupgrade

factor out s3 endpoint split to enable testing
  src/swoop/api/io.py
  tests/test_io.py
Due: black, pyupgrade

func to check if job should have results
  openapi.yaml
  src/swoop/api/routers/jobs.py
Due: black, check-yaml, pyupgrade

better testing/validation of payload endpoint
  src/swoop/api/routers/payloads.py
  tests/api/test_payloads.py
Due: black, pyupgrade

add test for no inputs
  tests/api/test_processes.py
Due: black, pyupgrade

added comment
  src/swoop/api/models/workflows.py
Due: black, pyupgrade

error type for process not found
  src/swoop/api/routers/processes.py
Due: black, pyupgrade

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none
